$arenaWidth: 1000px;
$arenaHeight: 770px;

$tileWidth: 70px;
$tileHeight: 70px;

$tileColor: #696969;
$tileOutlineColor: #fffaf0;
$tileMoveColor: #6495ed;
$tileAttackColor: #e9967a;
$tileDamageColor: #c40C18;

#arena {
  perspective: $arenaWidth * 3;
  perspective-origin: 50% 100%;
  width: $arenaWidth;
  height: $arenaHeight;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.tiles {
  $translateX: ($arenaWidth - ($tileWidth * 11)) / 2;
  $translateY: ($arenaHeight - ($tileHeight * 11)) / 2;

  width: $tileWidth * 11;
  height: $tileHeight * 11;
  transform: translate($translateX, $translateY)
             rotateX(45deg)
             rotateY(0deg)
             rotateZ(-45deg);

  ::selection {
    background: transparent;
  }

  ::-moz-selection {
    background: transparent;
  }
}

.tile {
  width: $tileWidth;
  height: $tileHeight;
  top: 0;
  float: left;
  background-color: $tileColor;
  outline: 1px solid $tileOutlineColor;
  cursor: pointer;
  font-size: 12px;
  font-weight: lighter;
  line-height: $tileHeight;
  text-align: center;
  color: #fff;

  &:hover {
    background-color: lighten($tileColor, 30);
  }

  &.void {
    visibility: hidden;
  }

  &.move-option {
    background-color: $tileMoveColor;

    &:hover {
      background-color: lighten($tileMoveColor, 5);
    }
  }

  &.attack-option {
    background-color: $tileAttackColor;

    &:hover {
      background-color: lighten($tileAttackColor, 5);
    }
  }

  &.damage-option {
    background-color: $tileDamageColor;

    &:hover {
      background-color: lighten($tileDamageColor, 5);
    }
  }
}

$clearTiles: 12 23 34 45 56 67 78;

@each $i in $clearTiles {
  .tile-#{$i} {
    clear: left;
  }
}